.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input {
  padding: 8px 32px 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 220px;
  outline: none;
}

.iconBtn {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  height: 24px;
}

.clearBtn {
  position: absolute;
  right: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}
